body {
  background-color: #121212;
  color: #fff;
}
.container {
  max-width: 100%;
  overflow-y: auto; /* Enable vertical scrolling for the table */
  max-height: 95vh; /* Adjust the height based on your layout */

  font-family: Arial, sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  overflow: hidden; /* Prevent scrolling on the entire page */
}

.file-details {
  overflow-x: 0;
  overflow-y: auto; /* Enable vertical scrolling for the table */
  max-height: 60vh; /* Adjust the height based on your layout */
  /* style={{ , maxHeight: 'calc(100vh - 100px)' }} */
}
.file-details-old {
  overflow-x: 0;
  overflow-y: auto; /* Enable vertical scrolling for the table */
  max-height: 60vh; /* Adjust the height based on your layout */
  /* style={{ , maxHeight: 'calc(100vh - 100px)' }} */
}

.NowPlaying {
  margin-bottom: 20px;
}

.audio-controls {
  display: flex;
  flex-wrap: wrap; /* Ensures items wrap on smaller screens */
  align-items: center;
  justify-content: space-between; /* Spread items evenly */
  margin-bottom: 10px;
}

.playing-song {
  color: lightgreen; /* Change to your desired shade of green */
}

.progress-container {
  flex-basis: 60%; /* Adjusted for better layout */
  margin-right: 10px;
}

.progress-bar {
  width: 100%;
}

.time {
  margin: 0 2px;

  font-size: 10px !important;
}

.controls {
  display: flex;
  flex-wrap: wrap; /* Ensures items wrap on smaller screens */
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.controls button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.controls button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.controls2 {
  display: flex;
  flex-wrap: wrap; /* Ensures items wrap on smaller screens */
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 90%;
}

.controls2 button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.controls2 button:disabled {
  background-color: #555;
  cursor: not-allowed;
}
.file-details table {
  width: 100%;
  border-collapse: collapse;
}

.file-details th,
.file-details td {
  padding: 10px;
  border-bottom: 1px solid #444;
}

.file-details th {
  background-color: #222;
  font-weight: bold;
  text-align: left;
}

/* Improved readability for list */
.file-details td {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .container {
    justify-content: space-between;
    padding: 10px; /* Adjusted for smaller screens */
  }

  .controls button {
    font-size: 14px;
    padding: 8px 16px;
    flex-grow: 1; /* Allow buttons to grow and take up available space */
    margin: 0 5px;
  }
}

@media (max-width: 576px) {
  .audio-controls,
  .controls {
    flex-direction: row; /* Display buttons in a single line */
  }

  .controls button {
    margin-right: 10px; /* Add spacing between buttons */
  }

  .progress-container {
    margin-right: 0;
    margin-bottom: 10px;
    flex-basis: 100%; /* Adjusted for smaller screens */
  }

  .time {
    margin-left: 5px 5px;
    font-size: 10px !important;
  }
}

.page-info {
  display: flex;
  justify-content: center; /* Align items horizontally in the center */
  margin-top: 10px; /* Add some top margin */
}

.page-count,
.total-pages {
  font-size: 16px; /* Adjust font size */
  color: #333; /* Text color */
  margin: 0 10px; /* Add some spacing between the elements */
}
