body {
  background-color: #121212;
  color: #fff;
}

.container-root {
  max-width: 100%;
  overflow-y: auto;
  max-height: 95vh;
  font-family: Arial, sans-serif;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 2%;
  overflow: hidden;
}

.container {
  max-width: 100%;
  overflow-y: auto;
  max-height: 95vh;
  font-family: Arial, sans-serif;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  overflow: hidden;
}

.file-details {
  overflow-x: 0;
  border-radius: 10px;
  background: linear-gradient(to bottom, #004422, #002206);
  overflow-y: auto;
  max-height: 60vh;
}

.file-details-old {
  overflow-x: 0;
  overflow-y: auto;
  max-height: 60vh;
}

.NowPlaying {
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.audio-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.playing-song {
  color: lightgreen;
}

.progress-container {
  flex-basis: 60%;
  margin-right: 10px;
  width: 100%;
}

.progress-bar {
  background-color: #4caf50;
  width: 100%;
  accent-color: #4caf50;
}

.progress-bar::-webkit-slider-thumb {
  background: #4caf50 !important;
}

.time {
  align-items: end;
  display: flex;
  justify-content: end;
  margin: 0 2px;
  font-size: 10px !important;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.controls button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.controls button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.controls2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 90%;
}

h1 {
  margin-bottom: 7px;
  margin-top: 0px;
}

.controls2 button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.controls2 button:disabled {
  color: #555;
  cursor: not-allowed;
}

.controls2 button {
  background-color: transparent;
  padding: 15px;
  border-radius: 50%;
}

.controls2 button:not(:disabled) {
  background-color: transparent;
}

.play-button {
  border-radius: 50%;
  background-color: #3c9421 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
/* 
.controls2 button:not(:disabled):hover {
} */

.file-details table {
  width: 100%;
  border-collapse: collapse;
}

.file-details th,
.file-details td {
  padding: 10px;
  border-bottom: 1px solid #444;
}

.file-details th {
  background-color: #222;
  font-weight: bold;
  text-align: left;
}

.file-details td {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .container {
    justify-content: space-between;
  }

  .controls button {
    font-size: 14px;
    padding: 8px 16px;
    flex-grow: 1;
    margin: 0 5px;
  }
}

@media (max-width: 576px) {
  .audio-controls,
  .controls {
    flex-direction: row;
  }

  .controls button {
    margin-right: 10px;
  }

  .progress-container {
    margin-right: 0;
    margin-bottom: 10px;
    flex-basis: 100%;
  }

  .time {
    margin-left: 5px 5px;
    font-size: 10px !important;
  }

  .page-info {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .page-count,
  .total-pages {
    font-size: 16px;
    color: #333;
    margin: 0 10px;
  }

  .list-table {
    width: 100%;
    border-collapse: collapse;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .list-table th:first-child {
    border-top-left-radius: 10px;
  }

  .list-table th:last-child {
    border-top-right-radius: 10px;
  }

  .list-table th,
  .list-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
  }

  .list-table th {
    font-weight: bold;
    color: #ffffff;
    background-color: #3c9421;
    text-transform: uppercase;
  }

  .song-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .marquee-container {
    display: flex;
    align-items: center;
  }

  .static-text {
    margin-right: 8px;
  }

  /* .marquee-content {
  } */

  .list-table tbody tr td:first-child {
    width: 60px;
  }

  .list-table tbody tr td img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .list-table tbody tr td .title {
    font-weight: bold;
    color: #333;
  }

  .list-table tbody tr td .artist {
    color: #666;
  }

  .list-table tbody tr.playing-song {
    font-weight: bold;
  }

  .list-table th:first-child {
    text-align: left;
  }

  .list-table th:nth-child(2),
  .list-table td:nth-child(2) {
    width: 20%;
    text-align: center;
  }

  .album-art {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #333;
  }

  .album-art::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    z-index: 1;
  }

  .album-art img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: rotateRecord 4s linear infinite;
  }

  @keyframes rotateRecord {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
